html{
	width: 100%;
	min-height: 100%;
}


body{
	background-color: #000;
	padding-bottom: 80px;
	min-width: 400px;
}



img.portrait{
	margin:1.5% auto;
	width: 100%;
	max-width: 360px;
	padding: 1.5%;
}

