html{
	width: 100%;
	min-height: 100%;
}


body{
	background-color: #000;
}



img.portrait{
	margin:1.5% auto;
	width: 400px;
	min-width: 360px;
	padding: 1.5%;
}

svg.brand{
	position: relative;
	max-height: 220px;

	stroke: #FFF;
}