/* FLEX CONTAINER*/


.flex{
	display: flex;
	flex-direction: row;
	align-items: center;
	vertical-align: middle;
	justify-content: space-between;
	flex-wrap: wrap;
}


.flex-item{
	margin: auto;
}




/* INDEX */

main{
	margin-bottom: 90px;
	background-color: $main-color1;
	section{
		padding: 2.5%;
	}
} 

section.compress{
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 40px;

}


main, .container{
	display: block;
	position: relative;
	width: 100%;
	max-width: 1800px;
	min-width: 400px;
	margin: 0 auto;
}

article.flex{
	display: block;
	position: relative;
	width: 100%;
}

.skill{
	display: block;
	position: relative;

	margin: auto;
	h3{
		width: 100%;
	}
	p{
		max-height: 300px;
		max-width: 300px;
	}
}


/* GRID SNAP */

@media (max-width: 550px){

	.flex{
		flex-direction: column;
		justify-content: flex-end;
	}
	.flex-items{
		align-self: flex-end;
	}
	main{
		padding-top: 0;	 
	}

}