/* FLEX CONTAINER*/


.flex{
	display: flex;
	flex-direction: row;
	align-items: center;
	vertical-align: middle;
	justify-content: space-between;
}


.flex-item{
	min-height: 400px;
	min-width: 300px;
}




/* INDEX */

main{
	display: block;
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 1800px;
	min-width: 400px;
	padding-top: 70px;
	margin-bottom: 90px;
	background-color: $main-color1;

	section{
		padding: 2.5%;
	}
}

section.landing{
	max-width: 1200px;
	margin: 0 auto;


}






/* GRID SNAP */

@media (max-width: 750px){

	.flex{
		flex-direction: column;
	}
	.flex-items{
		align-self: flex-end;
	}
	
}