
nav.primary{
	font-family: monospace;
	position: absolute;
	width: 120px;
	background-color: $sub-color1;
	top: 0;
	z-index: 9;
	box-shadow: 1px 1px 3px #111;
	ul{
		display: none;


		li{
			line-height: 2.8em;
			a{
				font-size: 1.4em;

			}
		}
	}
}

// on click, position middle / position left 
.popper{
	position: absolute;
	width: 19px;
	height: 19px;
	bottom: -24px;
	left: 48px;
	background-color: $acc-color1;
	color: #FFF;
	font-size: 1em;
	line-height: 1em;
	text-align: center;
	font-family: serif;
	border: 1px solid $sub-color1;
	box-shadow: 0 0 1px #111; 
}
 

 
label.menu{
	display: block;
	position: absolute;
	top: -16px;
	left: 42px;
	font-family: monospace;
	color: #FFF;
	text-shadow: 1px 1px 1px #111;
	z-index: 99;
	font-size: 1.2em;
}



/* NAV SNAP */

@media (max-width: 750px){
	main{
		padding-top: 20px;
	}

	nav.primary{
		width: 100%;
		ul{
		display: none;


		li{
			line-height: 4em;
			a{
				font-size: 2em;

			}
		}
	}
	}

	.popper{
		left: calc(50% - 9px);
	}

	label.menu{
		left: calc(50% - 1em);
		font-size: 1.4em;
	}
	
}